
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container alert alert-danger">
    <h1>Acesso Negado</h1>

    <span> <strong>Ops!</strong> Parece que você não possui acesso para visualizar está página</span>    

    @Html.ActionLink("Voltar", "Index", "Home", null, new { @class="btn btn-link"})
</div>


