@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using GDR.Models;

@inject SignInManager<User> SignInManager

    <div class="container">
            <span>@number</span>
            <button @onclick="clique">Increment</button>
    </div>

@code {

    private int number = 0;


    public void clique()
    {
        number++;
    }
}
