@model GDR.Models.ModelsForViews.RoleViewModel
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Roles", "Roles", method: FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, null, new { @class="form-control"})
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    }
</div>

