@using Microsoft.AspNetCore.Identity
@model IdentityRole
@{
    ViewData["Title"] = "update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("update", "Roles", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.HiddenFor(model => model.Id)
        <label>Nome:</label>
        @Html.TextBoxFor(model => model.Name, null, new { @class="form-control"})
    </div>

    <button type="submit" class="btn btn-success form-control">Atualizar</button>
}
