@if (User.IsInRole("Usuario"))
{
    <li class="nav-item">
        @Html.ActionLink("Criar Solicitação", "CreateOrder", "Home", null, new { @class="btn btn-secondary" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Criar Requisição", "CreateRequest", "Home", null, new { @class = "btn btn-secondary" })
    </li>
}


