<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Código</th>
            <th>Código</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center"></td>
        </tr>
    </tbody>
</table>